*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}

@font-face{
  font-family: 'Poligon';
  src: url('Fonts/Poligon Family/Poligon Medium.otf');
}

@font-face{
  font-family: 'Poligon-Light';
  src: url('Fonts/Poligon Family/Poligon Light.otf');
}

@media only screen and (max-width: 400px){

}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}

img {
  max-width: 100%;
  height: auto;
}

html { font-size:100%; }


@media (min-width: 640px) { body {font-size:1rem;} }
@media (min-width:960px) { body {font-size:1.2rem;} }
@media (min-width:1100px) { body {font-size:1.5rem;} }


/* FOR THE HOME PAGE */

.header-container{
  position: absolute;
  justify-content: space-around;
  width: 100vw;
  height: 19vh;

  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.header{
  position: absolute;
  width: 60vw;
  height: 15.5vh;
  left: 20%;
  top: 10%;

  font-family: 'Poligon', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 9vmin;
  line-height: 6vmax;


  align-items: center;
  text-align: center;

  color: #000000;

  border: 1px solid #FFFFFF;
}

.search-button{
  color: #FFFFFF;
  background-color: #4485E7;
  display: inline-block;
  font-family: 'Poligon-Light', sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 4vh;

  padding: 4px;
  text-align: center;
  vertical-align: middle;


  width: 8.5vw;
  height: 6.5vh;
  border: 2px solid #4485E7;
  border-radius: 5px;

  position: absolute;
  left: 89vw;
  top: 6.2vh;
}

.middle-container{
  width: 95vw;
  height: 70vh;
  justify-content: space-around;
  padding: 20px;

  position: absolute;
  left: 4vw;
  top: 16vh;

  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.image{
  align-self: center;
  justify-self: center;
}

.middle-text{
  font-family: 'Poligon', sans-serif;
  text-align: center;
  align-self: center;
  right: 15%;

}

.head{
  /*font-size: 2.5vw;*/
  font-size: 5.5vmin;
  line-height: 3.3vmax;
  padding-top: 20px;
  padding-bottom: 1.7vmin;
}

.second{
  font-size: 3.3vmin;
  line-height: 2.3vmax;
  padding-bottom: 1.8vmin;
}

.get-started-button{
  color: #FFFFFF;
  background-color: #4485E7;
  font-family: 'Poligon-Light', sans-serif;
  font-weight: bold;
  font-size: 2vw;
  line-height: 2.05vh;
  padding: 10px;
  text-align: center;
  width: 15vw;
  height: 6.5vh;
  border: 2px solid #4485E7;
  border-radius: 5px;

  position: relative;
  right: -15.25vw;
}


@media (max-width: 547px) {
   .get-started-button{
    left: 34vw;
   }
 }

 @media (max-width: 350px) {
    .get-started-button{
     line-height: 1.5vh;
     font-size: 2.5vw;
    }
  }

.bottom-text{
  font-size: 2.7vmin;
  line-height: 1.9vmax;
  padding-top: 1.8vmin;
  color: #828282;
}

.footer{
  display: flex;
  font-family: 'Poligon', sans-serif;
  font-size: 2.5vmin;
  line-height: 1vmax;
  vertical-align: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #4485E7;
  color: #FFF;

  position: absolute;
  width: 100vw;
  height: 6vh;
  bottom: 0;
}

.left-side{
  margin-left: 4vw;
  margin-top: 0.2vw;
}

.right-side{
  margin-right: 4vw;
  margin-top: 0.2vw;
}



/* FOR THE SEARCH PAGE  */
.form{
  width: 60vw;
  height: 30vh;
  justify-content: center;
  padding: 10px;

  position: absolute;
  left: 20vw;
  top: 28vh;

  font-family: 'Poligon', sans-serif;
  font-size: 3vmin;

  display: grid;
  align-items: center;
  grid-template-rows: repeat(auto-fit, minmax(9vh, 1fr));
}

.form-row{
  margin: 1.8vh;
  width: 30vw;
}

@media (max-width: 1024px) {
   .form-row{
     margin: 1.8vh;
     width: 50vw;
   }
 }

.form-row input[type='text']{
  background-color: #FFFFFF;
  font-family: 'Poligon', sans-serif;
  border: 1.25px solid #828282;
  border-radius: 3px;
  height: 105%;
  width: 70%;
  padding: 7px;
  font-size: 2vmin;
}

.caption{
  font-size: 2vmin;
  line-height: 1.5vmax;
  color: #828282;
  text-align: center;
  left: 20vw;
}
